html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	width: 100%;
}

/* ------------- pod čáru piš tvé styly ------------- */

masonry-layout {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

a {
	display: flex;
}
